body{
  font-size: 16px;
  line-height: 1.5;
letter-spacing: 0.5px;  font-family: "Roboto", "Arial", sans-serif;
}
.nav__items{
  list-style: none;
}
.nav__item a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  font-style: normal;
}
/* MAIN SECTION */
.main__link{
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #FF7500;
  font-size: 13px;
  font-weight: 700;
}
.orange__line{
  width: 80px;
  height: 3px;
  background: #FF7500;
}

.main__heading{
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  line-height: 120%;
}
.main__paragraph{
  color: #fff;
  font-weight: 400;
}
.main__paragraph strong{
  color: #FF7500;
}

/* HERO */
.hero{
  background: #252420;
}

/* FEATURES */
.features__heading{
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #000;
  font-size: 72px;
  font-weight: 700;
  line-height: 120%;
}
.feature__link{
  list-style: none;
}
.feature{
width: 340px;

}
.feature_icon_wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}
.icon__item h3{
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  line-height: 120%;
}
.icon__item p{
  font-weight: 400;
  color: #000;
}
/* PROMO */
.promo{
  background-color: #252420;
  width: 1100px;

}

.social__icon a{
  color: #252420;
  width: 24px;
  height: 24px;
}
/* FOOTER */

footer{
  width: 1440px;
  height: 507px;
  background: #f8f8f8;
}
.footer_site_hr{
  width: 1100px;
  height: 2px;
  background: rgba(37, 36, 32, 0.50);
}
.links, .social__icon{
  list-style: none;
}
.links{
  width: 224px;
}
.link a{
  color: #252420;
  font-weight: 400;
  text-decoration: none;
  line-height: 19px;
}
